%form{ :method => "post", :action => "/thankyou" }
  %p
    Fill out this form to receive our newsletter!
  %p
    %label{ :for => "name" } Name:
    %input#name{ :type => "text", :name => "name" }
  %p
    %label{ :for => "email" } Email:
    %input#email{ :type => "text", :name => "email" }
  %p
    %button{ :type => "submit" } Sign Up!
